[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofauna = "*"
bs4 = "*"
lxml = "*"
gunicorn = "*"
geocoder = "*"
boto3 = "*"
aiohttp-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
